name: Development

on:

  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:

  build_and_test:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.10", 3.11, 3.12, 3.13, 3.14]
      fail-fast: false
    timeout-minutes: 60

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Install dev environment
        uses: ./.github/workflows/install_dev_env
        with:
          python-version: ${{ matrix.python-version }}
          token: ${{ secrets.OAUTH_TOKEN }}
      - name: Run tests
        if: ${{ success() }}
        working-directory: ${{ github.workspace }}
        run: |
          poetry run pytest -m "not authentication and not long"
